<div class='name'><input type="text" placeholder = "推薦菜名" id="firstname"/></div> <br />
<div class='name'><input type="text" placeholder = "位置" id="lastname"/></div> <br />
<div class='name'><input type="text" placeholder = "價位" id="age"/></div> <br />
<div class='name'><input type="date" id="occupation"/></div><br />
<button class="btn-post">我要推薦!</button>
